<div *ngIf="!isFromCart">
    <div class="preview" *ngIf="product">
        <!-- <img src="{{product['volumeInfo'].imageLinks}}"> -->
        <h3>{{product["volumeInfo"].title}}</h3>
        <h4>{{product["volumeInfo"].subtitle}}</h4>
    </div>
    <button (click)="viewDetails()">View Details</button>
</div>

<div *ngIf="isFromCart">
    <div class="preview" *ngIf="product">
        <!-- <img src="{{product['volumeInfo'].imageLinks}}"> -->
        <h3>{{product.title}}</h3>
        <h4>{{product.subtitle}}</h4>

    </div>
    <button (click)="removeBook()">remove book</button>
</div>